@font-face {
  font-family: "i1kanboard";
  font-style: normal;
  font-weight: 400;
  src: 
    url("/plugins/Greenwing/src/fonts/i1box/i1kanboard.woff2")
      format("woff2"),
    url("/plugins/Greenwing/src/fonts/i1box/i1kanboard.woff")
      format("woff"),
    url("/plugins/Greenwing/src/fonts/i1box/i1kanboard.ttf")
      format("ttf");
}