$default-radius: 5px;

$task-colors: (
  "yellow": #fbda38,
  "blue": #4694ff,
  "green": #4ba975,
  "purple": #856be2,
  "red": #ff2a2a,
  "orange": #fb9531,
  "grey": #a09c9c,
  "brown": #ab6333,
  "deep_orange": #e66e0b,
  "dark_grey": #737373,
  "pink": #f546d5,
  "teal": #49b1c1,
  "cyan": #49cce0,
  "lime": #5fc55f,
  "light_green": #4af74a,
  "amber": #f1d042,
  "black": #000000,
  "light": #ffffff
);

.color-picker-square.color- {
  border: 1px solid $default-border-color;
}

@each $name, $hex in $task-colors {
  .text-#{$name} {
    color: $hex!important;
  }
  .color-picker-square.color-#{$name} {
    background-color: $hex;
  }
  li.task-tag.color-#{$name} {
    border-style: none;
    color: $hex;
    background-color: lighten($hex, 30);
  }

  .board-task-list .task-board.color-#{$name} {
    border-top: 3px solid $hex;
    &:hover,
    &:focus {
      border-top-color: darken($hex, 10);
    }
	.task-board-expanded {
		background-color: tint-color($hex, 80%);
	}
	.task-board-header,
	.task-board-title,
	a.js-modal-large {
		background-color: transparent!important;
	}
  }
  .task-board-category.color-#{$name} {
    border-style: none;
    background-color: lighten($hex, 30);

    a {
      color: $hex;
    }

    .tooltip .fa-info-circle {
      color: $hex;
      font-size: 0.8rem;
    }
  }
  
  .task-list .task-element.color-#{$name},
  .table-list .table-list-row.color-#{$name} {
    border-left: 5px solid $hex;

    &:hover,
    &:focus {
      border-left-color: darken($hex, 10);
    }
  }

  .table-list-category.table-list-category.color-#{$name} {
      background-color: lighten($hex, 30);
      border-style: none;
      color: $hex;

      a {
        color: $hex;
      }
    }


  .task-summary-title.color-#{$name} img {
    background-color: $hex;
  }
  .page > #main > .project-header.color-#{$name} {
    border-bottom: 3px solid $hex;
  }
}


$due-colors: (
  "planned": #5A607F,
  "due": #0058FF,
  "overdue": #FF0000,
  "closed": #10BF2B,
);

@each $name, $hex in $due-colors {
	.text-color-#{$name} {
		color: $hex!important;
	}
	.bg-color-#{$name} {
		background-color: $hex!important;
	}
}
